<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand fw-bold" href="#">MyApp</a>
  <ul class="navbar-nav ms-auto d-flex flex-row gap-3">
    <li class="nav-item">
      <a
        class="nav-link custom-hover"
        routerLink="/"
        routerLinkActive="active-menu"
        [routerLinkActiveOptions]="{ exact: true }"
      >Home</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link custom-hover"
        routerLink="/products"
        routerLinkActive="active-menu"
        [routerLinkActiveOptions]="{ exact: true }"
      >Products</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link custom-hover"
        routerLink="/categories"
        routerLinkActive="active-menu"
        [routerLinkActiveOptions]="{ exact: true }"
      >Categories</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>