<section class="category-wrapper">
    <h1 class="category-title">Explore Our Categories</h1>
    <p class="category-subtext">Find the perfect match from our curated collections  with httpClient</p>
   
    <ul style="max-height: 350px; overflow: auto;">
      <li *ngFor="let item of categoryList">
        {{item.name}}
      </li>
    </ul> <h1 class="category-title">Explore Our Categories</h1>
    <p class="category-subtext">Find the perfect match from our curated collections with service</p>
   
    <ul style="max-height: 350px; overflow: auto;">
      <li *ngFor="let item of categoryListWithService">
        {{item.name}}
      </li>
    </ul>


    <div class="category-buttons">
      <a class="category-link" routerLink="/categories/features" routerLinkActive="active">
        <i class="bi bi-lightning-charge-fill me-2"></i>
        Best Features
      </a>
      <a class="category-link" routerLink="/categories/colors" routerLinkActive="active">
        <i class="bi bi-palette-fill me-2"></i>
        Color Options
      </a>
    </div>
  
    <router-outlet></router-outlet>
  </section>
  