<h1 class="product-title">Our Products</h1>

<div class="flex-container">
  <div *ngFor="let item of products" class="product-box">
    <h3 class="product-name">{{ item.title }}</h3>

    <a class="box-link" [routerLink]="['/products', item.id.toString()]" [queryParams]="{title: item.title}" (click)="goToProductInfo(item)">
      🔍 View Info
    </a>

    <a class="box-link" [routerLink]="['/products/info']" [queryParams]="{ id: item.id, title: item.title }">
      🔗 View With Query
    </a>

    <button class="box-link" (click)="goToProductInfo(item)">
      🎯 Query in TypeScript
    </button>
  </div>
</div>
